<section class="container mt-3">
  <div class="jumbotron">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="showcase-text">
        <h3>Mapworks:</h3>
      </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Descrizione</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let m of mapworkList">
      <tr>
        <td (click)="openMapwork(m)">{{m.name | titlecase}}</td>
        <td>{{m.description}}</td>
        <td><button type="button" class="btn btn-secondary" (click)="deleteMapwork(m)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  </div>
</section>