mat-sidenav {
  width: 400px;
  background-color:  #ffffff;
}
.btn-sidenav {
  position:relative;
  bottom:2px;
}
.showcase-text{
  padding-top: 20px;
  padding-left: 20px;
}
.inline{
  padding-left: 18px;
  display: inline-block;
}
.container{
  padding-left:0px;
  padding-right:0px;
}