<mat-drawer-container>
    <mat-drawer mode="side" position="end" opened>
        <app-palette [atlas]="currentAtlas"></app-palette>
    </mat-drawer>
    <mat-drawer-content>
        <div class="col-lg-12 order-lg-1 my-auto showcase-text">
            <h2>Sei all'interno dell'Atlante: {{atlasid}}</h2>
        </div>
        <app-mapwork-list [atlasid]="atlasid"></app-mapwork-list>
        <app-mapwork-config *ngIf="userIsAdmin()"></app-mapwork-config>
        <app-user-management-atlas *ngIf="userIsAdmin()"></app-user-management-atlas>
    </mat-drawer-content>
</mat-drawer-container>