<div class="card text-center">
  <div class="card-header">
    <div class="showcase-text">
      <h5>Crea nuovo atlante:</h5>
    </div>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-secondary" (click)="createAtlas()">Add New Atlas</button>
  </div>
  <div class="card-header"></div>
  <div class="card-header">
      <div class="showcase-text">
        <h5>Aggiungi nuovo utente:</h5>
      </div>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-secondary" (click)="addUser()">Add New User</button>
    </div>
</div>