<div class="card mb-3 fixed">
    <div class="card-header">
        <input class="form-control" type="text" placeholder="Search concept" aria-label="Search">
    </div>
    <div class="card-body">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-secondary" title="Aggiungi nuovo concetto">Aggiungi</button>
            <button class="btn btn-secondary"
                title="Modifica descrizione e sinonimi associate al concetto selezionato.">Modifica</button>
            <button class="btn btn-secondary" title="Trova occorrenze concetto all'interno dell'atlante">Trova
                occorrenze</button>
            <button class="btn btn-secondary" title="Elimina concetto">Elimina</button>
        </div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <table class="table table-hover">
                        <tbody *ngFor="let c of concepts">
                        <tr>
                            <td (click)="setCurrentConcept(c)">{{c.name | titlecase}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text"><strong>Descrizione </strong>{{currentConcept?.description}}</p>
                    <p class="card-text"><strong>Sinonimi </strong>{{currentConcept?.synonyms}}</p>
                    <p class="card-text"><strong>Concetti collegati </strong> </p>
                    <p class="card-text"><strong>Relazioni collegate </strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header"></div>
    <div class="card-header"><input class="form-control" type="text" placeholder="Search relation type"
            aria-label="Search"></div>
    <div class="card-body">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-secondary" title="Aggiungi nuovo tipo di relazione">Aggiungi</button>
            <button class="btn btn-secondary"
                title="Modifica descrizione associata al tipo di relazione selezionato">Modifica</button>
            <button class="btn btn-secondary" title="Elimina tipo di relazione">Elimina</button>
        </div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <table class="table table-hover">
                    <tbody *ngFor="let rt of relationTypes">
                        <tr>
                            <td (click)="setCurrentRelationType(rt)">{{rt.name }}</td>
                        </tr>
                </table>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text"><strong>Descrizione </strong>{{currentRelType?.description}}</p>
                    <p class="card-text"><strong>Concetti collegati </strong> </p>
                </div>
            </div>
        </div>
    </div>
</div>