<div class="card bg-light mb-3">
    <div class="card-header">
        <input class="form-control" type="text" placeholder="Search concept" aria-label="Search">
    </div>
    <div class="card-body">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-secondary" title="Aggiungi nuovo concetto">Aggiungi</button>
            <button class="btn btn-secondary"
                title="Modifica descrizione e sinonimi associate al concetto selezionato.">Modifica</button>
            <button class="btn btn-secondary" title="Trova occorrenze concetto all'interno dell'atlante">Trova
                occorrenze</button>
            <button class="btn btn-secondary" title="Elimina concetto">Elimina</button>
        </div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>Casa</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text"><strong>Descrizione </strong>Luogo fisico dove le persone vivono.</p>
                    <p class="card-text"><strong>Sinonimi </strong>Dimora, Alloggio, Appartamento</p>
                    <p class="card-text"><strong>Concetti collegati </strong> Famiglia, Indirizzo</p>
                    <p class="card-text"><strong>Relazioni collegate </strong>Abitare</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card bg-light mb-3">
    <div class="card-header"><input class="form-control" type="text" placeholder="Search relation type" aria-label="Search"></div>
    <div class="card-body">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-secondary" title="Aggiungi nuovo tipo di relazione">Aggiungi</button>
            <button class="btn btn-secondary"
                title="Modifica descrizione associata al tipo di relazione selezionato">Modifica</button>
            <button class="btn btn-secondary" title="Elimina tipo di relazione">Elimina</button>
        </div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>autore di</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text"><strong>Descrizione </strong>proprietario.</p>
                    <p class="card-text"><strong>Concetti collegati </strong> Libro, Persona</p>
                </div>
            </div>
        </div>
    </div>
</div>