<div class="card mb-3 fixed">
    <div class="card-header">
        <input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchConc" id="listSearch" aria-label="Search">
    </div>
    <div class="card-body" >
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-secondary" title="Aggiungi nuovo concetto">Add New</button>
            <button (click)="editConcept()" [disabled]="currentConcept==null" class="btn btn-secondary" 
                title="Modifica descrizione e sinonimi associate al concetto selezionato.">Edit</button>
            <button [disabled]="currentConcept==null" class="btn btn-secondary"
                title="Trova occorrenze concetto all'interno dell'atlante">Find References</button>
            <button [disabled]="currentConcept==null" class="btn btn-secondary"
                title="Elimina concetto">Delete</button>
        </div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <table class="table table-hover">
                    <tbody *ngFor="let c of concepts | LockFilter: searchConc">
                        <tr>
                            <td (click)="setCurrentConcept(c)" [style.backgroundColor]="c == currentConcept ? 'rgba(113,106,202,0.3)' : null">{{c.name | titlecase}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text"><strong>Descrizione </strong>{{currentConcept?.description}}</p>
                    <p class="card-text"><strong>Sinonimi </strong>{{currentConcept?.synonyms}}</p>
                    <p class="card-text"[style.color]="grey"><strong>Concetti collegati </strong> {{showConceptConnectedConcepts(currentConcept)}}</p>
                    <p class="card-text"><strong>Relazioni collegate </strong> {{showConceptConnectedRelationship(currentConcept)}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header"></div>
    <div class="card-header"><input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchRel" id="listSearch" aria-label="Search"></div>
    <div class="card-body">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-secondary" title="Aggiungi nuovo tipo di relazione">Add New</button>
            <button class="btn btn-secondary" [disabled]="currentRelType==null" 
                title="Modifica descrizione associata al tipo di relazione selezionato">Edit</button>
            <button class="btn btn-secondary" [disabled]="currentRelType==null"  title="Elimina tipo di relazione">Delete</button>
        </div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <table class="table table-hover">
                    <tbody *ngFor="let rt of relationTypes | LockFilter: searchRel">
                        <tr>
                            <td (click)="setCurrentRelationType(rt)" [style.backgroundColor]="rt == currentRelType ? 'rgba(113,106,202,0.3)' : null" >{{rt.name }}</td>
                        </tr>
                </table>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text"><strong>Descrizione </strong>{{currentRelType?.description}}</p>
                    <p class="card-text"><strong>Concetti collegati </strong> {{showRelTypeConnectedConcept(currentRelType)}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
