.navbar-inner {
  padding: 0.8em;
  text-align: center;
  }

.right-side-button{
  padding: 0.4em;
  float: right;
}

.main-header[data-background-color="purple"] {
  background: #716aca !important; }
  .main-header[data-background-color="purple"] .navbar-header {
    background: #716aca !important; }

  .main-header[data-background-color="orange"] {
    background: #ffa534 !important; }
    .main-header[data-background-color="orange"] .navbar-header {
      background: #ffa534 !important; }
      
.nav-title {
  color: #f3eded;
  background: #716aca !important;
}
