<div class="wrapper">
  <!--data-background-color="blue | purple | light-blue | green | orange | red"-->
  <div class="main-header" data-background-color="purple">
    <nav class="navbar navbar-header navbar-expand-lg">
      <div class="container-fluid">
        <h4 class="nav-title">Concept Atlas</h4>
        <button *ngIf="!isLogged" type="button" class="btn btn-danger pull-right" (click)="signinWithGoogle()">Sign in
          with Google</button>
        <button *ngIf="isLogged" type="button" class="btn btn-light pull-right" (click)="logOut()">LogOut</button>
      </div>
    </nav>
  </div>

  <!-- View -->
  <router-outlet></router-outlet>

</div>
