<div class="jumbotron">
  <div class="showcase-text">
    <h3>Atlanti disponibili:</h3>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Descrizione</th>
        <th scope="col">Proprietario</th>
        <th scope="col"></th>
        <th scope="col">ID</th>
      </tr>
    </thead>
    <tbody *ngFor="let a of atlasList">
      <tr>
        <td (click)="openAtlas(a)">{{a.name | titlecase}}</td>
        <td>{{a.description}}</td>
        <td>{{a.owner}}</td>
        <td><button type="button" class="btn btn-secondary" (click)="deleteAtlas(a)">Delete</button></td>
        <td>{{a.id}}</td>
      </tr>
    </tbody>

  </table>
</div>