<div class="jumbotron">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-3 text-center">
      <h3 class="card-title h3 pb-2"><strong>Atlanti disponibili:</strong></h3>
    </div>

    <div class="col-9 d-flex justify-content-end align-items-center">
    <button type="button" class="btn btn-primary" (click)="createAtlas()">Add New Atlas</button>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Descrizione</th>
        <th scope="col">Proprietario</th>
        <th scope="col"></th>
        <th scope="col">ID</th>
      </tr>
    </thead>
    <tbody *ngFor="let a of atlasList">
      <tr>
        <td (click)="openAtlas(a)">{{a.name | titlecase}}</td>
        <td>{{a.description}}</td>
        <td>{{a.owner}}</td>
        <td><button type="button" class="btn btn-secondary" (click)="deleteAtlas(a)">Delete</button></td>
        <td>{{a.id}}</td>
      </tr>
    </tbody>

  </table>
</div>
