<section class="container mt-3">
    <div class="jumbotron">
        <span> <b> Perspective name: </b> {{perspective.name}} </span>
        <span> <b> Author: </b> {{perspective.author}} </span>
        <span> <b> Can Modify: </b> <span *ngIf="perspective.freezed == 'true' || perspective.author != user.email">
                No</span> <span *ngIf="perspective.freezed == 'false' && perspective.author == user.email "> Yes</span>
        </span>
        <br>
        <br>
        <canvas id="draw" height="300" style="background-color:white;"></canvas>
        <br>
        <br>
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-secondary" [disabled]="perspective.freezed == 'false'"
                    (click)="haveChild(perspective.id)" title="Work from this Perspective's current state">Have a
                    Child!</button>
                <button class="btn btn-secondary" [disabled]="perspective.published == 'true'"
                    (click)="publish(perspective.id)"
                    title="The Perspective will be visible to the team">Publish</button>
                <button class="btn btn-secondary" [disabled]="perspective.freezed == 'true'"
                    (click)="freeze(perspective.id)" title="Save the current state of your Perspective">Freeze</button>
                <button class="btn btn-secondary" (click)="createMpwork(perspective.id)"
                    title="Create a new Mapwork from the current Perspective ">Create Mapwork</button>
            </div>
            <div class="justify-content-end align-items-center">
                <button class="btn btn-secondary"
                    [disabled]="perspective.children != undefined && perspective.children.length > 1">Delete</button>
            </div>
        </div>
    </div>
</section>