@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/sandstone/bootstrap.min.css');

body {background: #f9fbfd; }
.jumbotron,.card{border-radius: 5px;background-color: #ffffff;margin-bottom: 30px;-webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);border: 0px; }
.card-header{background-color: #ffffff;}

.btn-secondary {
    background: #716aca !important;
}

.btn-warning {
    background: #ffa534 !important;
    border-color: #ffa534 !important;
    color: #ffffff !important; }

