<!-- Page Header -->
<header class="masthead" style="background-image: url('../../assets/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>ConceptAtlas</h1>
          <span class="subheading">Collabora e crea mappe concettuali graficamente.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- ConceptAtlas: cosa offre -->
<section class="showcase">
    <div class="row no-gutters">
      <div class="col-lg-12 order-lg-1 my-auto showcase-text">
        <h2>Suddivisione delle mappe in Atlanti e Mapwork</h2>
        <p class="lead mb-0">ConceptAtlas è strutturato in atlanti, grandi contenitori di mapwork che fanno riferimento
          a una stessa branca di conoscenza. Ogni mapwork si focalizza su un argomento ed è associato a un team di
          utenti preciso.
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-12 my-auto showcase-text">
        <h2>Scopri chi ha contribuito con cosa e quando</h2>
        <p class="lead mb-0">All'interno di ogni mapwork per rendere chiari i passaggi che portano alla costruzione
          delle
          prospettive finali di ogni utente, si tiene traccia del processo collaborativo, salvando ogni prospettiva
          intermedia
          significativa così da poter controllare quali collaboratori hanno contribuito, come e quando.
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-12 order-lg-1 my-auto showcase-text">
        <h2>Repository di concetti e relazioni per ogni atlante</h2>
        <p class="lead mb-0">Lo strumento Tavolozza permette agli utenti di ogni atlante di tenere traccia delle
          informazioni relative ai concetti e alle relazioni che vengono inserite nelle prospettive.
          Inoltre permette l’identificazione di concetti ricorrenti, il riconoscimento di gruppi comuni di concetti e
          relazioni, o ancora l’individuazione di sotto-argomenti simili all’interno di diverse mappe.
        </p>
      </div>
    </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Pronto per iniziare? Esegui il login per accedere a ConceptAtlas!</h2>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; ConceptAtlas 2019. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>